<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>蓮德邪教-委託圖</title>

    <link rel="shortcut icon" href="/images/230401-3.jpg" type="image/jpg" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/lineicons.css" />
    <link rel="stylesheet" href="/css/ud-styles.css" />
  </head>
  <body>
    <section class="ud-page-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-banner-content">
              <h1>委託圖分享</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="draw" class="ud-team">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="ud-section-title mx-auto text-center">
                <p>
                  以下皆為中之花錢委託繪師創作之圖稿。<br>
                  純分享，未經同意請勿轉載、使用。
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-sm-6">
              <div class="ud-single-team wow fadeInUp" data-wow-delay=".1s">
                <div class="ud-team-image-wrapper">
                  <div class="ud-team-image">
                    <img src="/images/draw/team-01.png" alt="draw" />
                  </div>
                  <img src="/images/draw/dotted-shape.svg" alt="shape" class="shape shape-1" />
                  <img src="/images/draw/shape-2.svg" alt="shape" class="shape shape-2" />
                </div>
                <div class="ud-team-info">
                  <h5>繪師：A</h5>
                </div>
                <ul class="ud-team-socials">
                  <li>
                    <a href="https://twitter.com/MusharofChy">
                      <i class="lni lni-facebook-filled"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6">
              <div class="ud-single-team wow fadeInUp" data-wow-delay=".15s">
                <div class="ud-team-image-wrapper">
                  <div class="ud-team-image">
                    <img src="/images/draw/team-01.png" alt="draw" />
                  </div>
                  <img src="/images/draw/dotted-shape.svg" alt="shape" class="shape shape-1" />
                  <img src="/images/draw/shape-2.svg" alt="shape" class="shape shape-2" />
                </div>
                <div class="ud-team-info">
                  <h5>繪師：B</h5>
                </div>
                <ul class="ud-team-socials">
                  <li>
                    <a href="https://twitter.com/MusharofChy">
                      <i class="lni lni-facebook-filled"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6">
              <div class="ud-single-team wow fadeInUp" data-wow-delay=".2s">
                <div class="ud-team-image-wrapper">
                  <div class="ud-team-image">
                    <img src="/images/draw/draw-01.png" alt="draw" />
                  </div>
                  <img src="/images/draw/dotted-shape.svg" alt="shape" class="shape shape-1" />
                  <img src="/images/draw/shape-2.svg" alt="shape" class="shape shape-2" />
                </div>
                <div class="ud-team-info">
                  <h5>繪師：A</h5>
                </div>
                <ul class="ud-team-socials">
                  <li>
                    <a href="https://twitter.com/MusharofChy">
                      <i class="lni lni-facebook-filled"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6">
              <div class="ud-single-team wow fadeInUp" data-wow-delay=".25s">
                <div class="ud-team-image-wrapper">
                  <div class="ud-team-image">
                    <img src="/images/draw/team-01.png" alt="draw" />
                  </div>
                  <img src="/images/draw/dotted-shape.svg" alt="shape" class="shape shape-1" />
                  <img src="/images/draw/shape-2.svg" alt="shape" class="shape shape-2" />
                </div>
                <div class="ud-team-info">
                  <h5>繪師：D</h5>
                </div>
                <ul class="ud-team-socials">
                  <li>
                    <a href="https://twitter.com/MusharofChy">
                      <i class="lni lni-facebook-filled"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </section>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
