<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>蓮德邪教</title>

    <link rel="shortcut icon" href="/images/230401-3.jpg" type="image/jpg" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/lineicons.css" />
    <link rel="stylesheet" href="/css/ud-styles.css" />
  </head>
  <body>
    <!-- ====== Header Start ====== -->
    <header class="ud-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="index.ejs">
                <img src="/images/logo/title.jpg" style="width: 100px;" alt="Logo" />
              </a>
              <button class="navbar-toggler">
                <span class="toggler-icon"> </span>
                <span class="toggler-icon"> </span>
                <span class="toggler-icon"> </span>
              </button>

              <div class="navbar-collapse">
                <ul id="nav" class="navbar-nav mx-auto">
                  <li class="nav-item">
                    <a class="ud-menu-scroll" href="#home">首頁</a>
                  </li>

                  <li class="nav-item">
                    <a class="ud-menu-scroll" href="#about">介紹</a>
                  </li>
                  <li class="nav-item">
                    <a class="ud-menu-scroll" href="#testimonials">最新資訊</a>
                  </li>
                  <li class="nav-item nav-item-has-children">
                    <a href="javascript:void(0)"> 圖文專區 </a>
                    <ul class="ud-submenu">
                      <li class="ud-submenu-item">
                        <a href="blog.ejs" class="ud-submenu-link">
                          Blog Grid Page
                        </a>
                      </li>
                      <li class="ud-submenu-item">
                        <a href="blog-details.ejs" class="ud-submenu-link">
                          Blog Details Page
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <!-- ====== Hero ====== -->
    <section class="ud-hero" id="home">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-hero-content wow fadeInUp" data-wow-delay=".2s">
              <h1 class="ud-hero-title">
                蓮德邪教
              </h1>
              <p class="ud-hero-desc">
                ＊出自「食物語」手遊中角色：蓮花血鴨和德州扒雞。<br>
                　因一場打鬥對戲，意外拉郎配後的結果，中之：澄、亞。<br>
                ＊架設此網頁用來存放所有的對戲文&委託圖。
              </p>
            </div>
            <div class="ud-hero-image wow fadeInUp" data-wow-delay=".25s">
              <img src="/images/hero/through.jpg" alt="hero-image" />
              <img
                src="/images/hero/dotted-shape.svg"
                alt="shape"
                class="shape shape-1"
              />
              <img
                src="/images/hero/dotted-shape.svg"
                alt="shape"
                class="shape shape-2"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== About ====== -->
    <section id="about" class="ud-about">
      <div class="container">
        <div class="ud-about-wrapper wow fadeInUp" data-wow-delay=".2s">
          <div class="ud-about-content-wrapper">
            <div class="ud-about-content">
              <span class="tag">文案</span>
              <p>
                　　不討厭下雨，但談不上喜歡。雨水讓氣味消散，雨聲讓世界靜寂。
                然時不時挾雜落雷的暴雨聲響，無端使人心煩，血鴨看著燃盡的沉香，瞥向窗外黑夜中的暴雨，決定提早出去走走。<br>
                　　背景相似卻甚無交集的兩人，因為一場暴雨而開始……
              </p>
              <h5>須注意標籤：</h5>

              <p>
                1. 自創劇情線，未符合原著主線。<br>
                2. 文章為對戲後經修飾版本，僅少數會以純寫作呈現。<br>
                3. 人物隨感情有成長變化，若OOC屬於兩位作者。<br>
                4. 簡言之是個生活殘疾但戰力MAX且佔有欲驚人的將軍攻＆十項全能做事嚴謹且極度控制欲的警察受的故事。<br>
                5. 每章篇幅不均等，全靠當天實力說話(?)。<br>
                6. 組出來的CP不限蓮德兩人，會於各篇章中Tag提醒，且組起來就不會散。
              </p>
            </div>
          </div>
          <div class="ud-about-image">
            <img src="/images/about/230401-4.jpg" style="width: 500px;" alt="about-image" />
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Testimonials ====== -->
    <section id="testimonials" class="ud-testimonials">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-section-title mx-auto text-center">
              <h2>最新文章</h2>
              <!-- <p></p> -->
            </div>
             
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="ud-single-testimonial wow fadeInUp" data-wow-delay=".1s" >
              <div class="ud-testimonial-content">
                <a href="#"><h6>2023/04/01</h6></a>
              </div>
              <div class="ud-testimonial-info">
                <div class="ud-testimonial-image">
                  <img src="/images/testimonials/author-01.png" alt="author" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="ud-single-testimonial wow fadeInUp" data-wow-delay=".1s" >
              <div class="ud-testimonial-content">
                <a href="#"><h6>2023/04/01</h6></a>
              </div>
              <div class="ud-testimonial-info">
                <div class="ud-testimonial-image">
                  <img src="/images/testimonials/author-01.png" alt="author" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="ud-single-testimonial wow fadeInUp" data-wow-delay=".1s" >
              <div class="ud-testimonial-content">
                <a href="#"><h6>2023/04/01</h6></a>
              </div>
              <div class="ud-testimonial-info">
                <div class="ud-testimonial-image">
                  <img src="/images/testimonials/author-01.png" alt="author" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="ud-single-testimonial wow fadeInUp" data-wow-delay=".1s" >
              <div class="ud-testimonial-content">
                <a href="#"><h6>2023/04/01</h6></a>
              </div>
              <div class="ud-testimonial-info">
                <div class="ud-testimonial-image">
                  <img src="/images/testimonials/author-01.png" alt="author" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <a href="javascript:void(0)" class="ud-main-btn">查看更多...</a>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Team ====== -->
    <section id="team" class="ud-team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-section-title mx-auto text-center">
              <h2>委託圖分享</h2>
              <p>
                以下皆為中之花錢委託繪師創作之圖稿。<br>
                純分享，未經同意請勿轉載、使用。
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="ud-single-team wow fadeInUp" data-wow-delay=".1s">
              <div class="ud-team-image-wrapper">
                <div class="ud-team-image">
                  <img src="/images/team/team-01.png" alt="team" />
                </div>
                <img src="/images/team/dotted-shape.svg" alt="shape" class="shape shape-1" />
                <img src="/images/team/shape-2.svg" alt="shape" class="shape shape-2" />
              </div>
              <div class="ud-team-info">
                <h5>繪師：A</h5>
              </div>
              <ul class="ud-team-socials">
                <li>
                  <a href="https://twitter.com/MusharofChy">
                    <i class="lni lni-facebook-filled"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="ud-single-team wow fadeInUp" data-wow-delay=".15s">
              <div class="ud-team-image-wrapper">
                <div class="ud-team-image">
                  <img src="/images/team/team-01.png" alt="team" />
                </div>
                <img src="/images/team/dotted-shape.svg" alt="shape" class="shape shape-1" />
                <img src="/images/team/shape-2.svg" alt="shape" class="shape shape-2" />
              </div>
              <div class="ud-team-info">
                <h5>繪師：B</h5>
              </div>
              <ul class="ud-team-socials">
                <li>
                  <a href="https://twitter.com/MusharofChy">
                    <i class="lni lni-facebook-filled"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="ud-single-team wow fadeInUp" data-wow-delay=".2s">
              <div class="ud-team-image-wrapper">
                <div class="ud-team-image">
                  <img src="/images/team/team-01.png" alt="team" />
                </div>
                <img src="/images/team/dotted-shape.svg" alt="shape" class="shape shape-1" />
                <img src="/images/team/shape-2.svg" alt="shape" class="shape shape-2" />
              </div>
              <div class="ud-team-info">
                <h5>繪師：A</h5>
              </div>
              <ul class="ud-team-socials">
                <li>
                  <a href="https://twitter.com/MusharofChy">
                    <i class="lni lni-facebook-filled"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="ud-single-team wow fadeInUp" data-wow-delay=".25s">
              <div class="ud-team-image-wrapper">
                <div class="ud-team-image">
                  <img src="/images/team/team-01.png" alt="team" />
                </div>
                <img src="/images/team/dotted-shape.svg" alt="shape" class="shape shape-1" />
                <img src="/images/team/shape-2.svg" alt="shape" class="shape shape-2" />
              </div>
              <div class="ud-team-info">
                <h5>繪師：D</h5>
              </div>
              <ul class="ud-team-socials">
                <li>
                  <a href="https://twitter.com/MusharofChy">
                    <i class="lni lni-facebook-filled"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <a href="javascript:void(0)" class="ud-main-btn">查看更多...</a>
          </div>
        </div>
      </div>
    </section>

    <a href="javascript:void(0)" class="back-to-top">
      <i class="lni lni-chevron-up"> </i>
    </a>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/main.js"></script>
    <script>
      // ==== for menu scroll
      const pageLink = document.querySelectorAll(".ud-menu-scroll");

      pageLink.forEach((elem) => {
        elem.addEventListener("click", (e) => {
          e.preventDefault();
          document.querySelector(elem.getAttribute("href")).scrollIntoView({
            behavior: "smooth",
            offsetTop: 1 - 60,
          });
        });
      });

      // section menu active
      function onScroll(event) {
        const sections = document.querySelectorAll(".ud-menu-scroll");
        const scrollPos =
          window.pageYOffset ||
          document.documentElement.scrollTop ||
          document.body.scrollTop;

        for (let i = 0; i < sections.length; i++) {
          const currLink = sections[i];
          const val = currLink.getAttribute("href");
          const refElement = document.querySelector(val);
          const scrollTopMinus = scrollPos + 73;
          if (
            refElement.offsetTop <= scrollTopMinus &&
            refElement.offsetTop + refElement.offsetHeight > scrollTopMinus
          ) {
            document
              .querySelector(".ud-menu-scroll")
              .classList.remove("active");
            currLink.classList.add("active");
          } else {
            currLink.classList.remove("active");
          }
        }
      }

      window.document.addEventListener("scroll", onScroll);
    </script>
  </body>
</html>
